[submodule "Dependencies/Strilbrary"]
	path = Dependencies/Strilbrary
	url = C:/Users/Craig/Documents/Visual Studio 10/Projects/Strilbrary/Strilbrary
[submodule "Dependencies/MpqLibrary"]
	path = Dependencies/MpqLibrary
	url = C:/Users/Craig/Documents/Visual Studio 10/Projects/MpqLibrary/MpqLibrary
